nav.top-bar
  ul.title-area
    li.name
      h1
        a Your App
    li.toggle-topbar menu-icon
      a(href="#")
        span Menu

.row
  .large-3.columns
    h2 Colors
    ul.side-nav
      | {{#each item in controller}}
      li {{item}}
      | {{/each}}
  .large-9
    | {{outlet}}